site_name: 从零开始开发现代编程语言
nav:
  - 欢迎: index.md
  - 环境配置: 0-Environment-Setup/EnvironmentSetup.md
  - 编写 Hello World:
    - 欢迎: 1-Hello-World/Welcome.md
    - 修改语法: 1-Hello-World/ModifyGrammar.md
    - AST节点的设计: 1-Hello-World/ASTDesign.md
    - AST的构建: 1-Hello-World/ASTBuilding.md
    - AST的访问: 1-Hello-World/ASTVisiting.md
    - 符号表的设计: 1-Hello-World/SymbolTable.md
    - 语义分析: 1-Hello-World/SemanticAnalysis.md
    - IR设计: 1-Hello-World/IRDesign.md
    - IR构建: 1-Hello-World/IRBuilding.md
    - 虚拟机和编译流程: 1-Hello-World/VM.md
theme: 
  name: material
  language: zh
  palette:
    - scheme: default
      primary: light blue
      accent: light blue
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode
    - scheme: slate
      primary: light blue
      accent: light blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - content.code.copy

markdown_extensions:
  - footnotes
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - admonition
  - pymdownx.details