site_name: 从零开始开发现代编程语言
nav:
  - 欢迎: index.md
  - 环境配置: 0-Environment-Setup/EnvironmentSetup.md
  - 编写 Hello World:
    - 欢迎: 1-Hello-World/Welcome.md
    - 修改语法: 1-Hello-World/ModifyGrammar.md
    - AST设计: 1-Hello-World/ASTDesign.md
theme: 
  name: material
  language: zh
  palette:
    - scheme: default
      primary: light blue
      accent: light blue
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode
    - scheme: slate
      primary: light blue
      accent: light blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - content.code.copy

markdown_extensions:
  - footnotes
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - admonition
  - pymdownx.details